@media (max-width: 768px) {
  /* Медиа-запрос для разрешения до 768px */
  div {
    background-size: "contain"; /* Изменяем размер фона для более маленьких экранов */
  }
  p {
    font-size: 8vw; /* Увеличиваем размер шрифта для меньших экранов */
  }
}

@media (max-width: 480px) {
  /* Медиа-запрос для разрешения до 480px */
  p {
    font-size: 10vw; /* Увеличиваем размер шрифта ещё больше для маленьких экранов */
  }
}
