@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap");

* {
  list-style-type: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 240, 240, 0.224);
}

.main {
  display: flex;
  align-items: center;
}

.hh-header {
  padding: 50px;
  width: 100px;
}

.h1-header {
  /* padding: 50px; */
  font-size: 70px;
  color: rgb(255, 255, 255);
}
.h3-header {
  font-size: 70px;
  color: rgb(255, 255, 255);
}

.header-right {
  width: 200px;
  height: 200px; /* Добавляем высоту, чтобы создать квадрат */
}

.diamond-wrapper {
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  overflow: hidden;
}

.header-img {
  max-width: 100%;
  max-height: 100%;
  transform: rotate(-45deg) scale(2.42);
}

.navbar-left {
  display: flex;
  font-family: "Sora", sans-serif;
}
ul {
  display: flex;
  width: 100%;

  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
}
li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  min-width: 80px;
  margin: auto;
}

li:hover {
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ff0c0c;
  font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}
