@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap");

* {
  list-style-type: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 240, 240, 0.224);
}

.main {
  display: flex;
  align-items: center;
}

.hh-header {
  /* margin-bottom: -50px; */
  padding: 80px;
  width: 100px;
}

.h1-header {
  /* padding: 50px; */
  font-size: 70px;
  color: rgb(255, 255, 255);
}
.h3-header {
  font-size: 70px;
  color: rgb(255, 255, 255);
}

.header-right {
  width: 180px;
  height: 180px; /* Добавляем высоту, чтобы создать квадрат */
}

.block-1b {
  margin-left: 35%;
}

.block-2b {
  margin-bottom: 25%;
}

.block-3b {
  /* margin-left: 2%; */
}
.block-4b {
  margin-top: 22%;
  margin-left: -25.5%;
}

.diamond-wrapper {
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  overflow: hidden;
}

.header-img {
  max-width: 100%;
  max-height: 100%;
  transform: rotate(-45deg) scale(2.42);
}

.navbar-left {
  display: flex;
  font-family: "Sora", sans-serif;
}
ul {
  display: flex;
  width: 100%;

  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
}
li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  min-width: 80px;
  margin: auto;
}

li:hover {
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 black;
  font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}

.input {
  max-width: 190px;
  padding: 15px;
  font-size: 17px;
  color: black;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border: 2px solid #ffffff00;
  margin-right: -10px;
}

.button {
  border: none;
  background-color: #1363df;
  text-decoration: none;
  padding: 15px;
  padding-bottom: 17px;
  font-size: 17px;
  color: #fff;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .navbar-right ul {
    display: none;
  }
}
